.GridStyling{
    background-color: white;
}

.TypographyStyling{
    color: black !important;
    font-weight: bold !important;
}

.ButtonSeePosts{
    border-color: white;
    background-color: #2e86de !important;
    color: white !important;
}

.Postagens{
    background-color: white;
}
